* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:rgb(153, 0, 255);
}

main {
  display: flex;
} 

.menu {
  border: 2px solid black;
  margin-top: 0.5%;
  height: 100vh;
  width: 100px;
}

.show-colors {
  border: 2px solid black;
  height: 100vh;
  margin-top: 0.5%;
  width: 100vw;
  background-color: rgb(253, 253, 255);
}


